.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 34px 0px;
  background-color: #010208;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  max-width: 95px;
}

.menu__list {
  display: flex;
  align-items: center;
}
.menu__item + .menu__item {
  margin-left: 32px;
}
.menu__link {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3E4E6;
}
.menu__link:hover {
  background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -11px;
  width: 9px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 9px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visability 0.3s;
}
.menu__link:hover::after {
  opacity: 1;
  visibility: visible;
}