.clients {
	padding: 80px 0px 130px;
	@media (max-width: 768px) {
		padding: 40px 0px;
	}
	&__title {
		max-width: 520px;
		font-weight: 600;
		font-size: 40px;
		line-height: 150%;
		@media (max-width: 576px) {
			font-size: 30px;
		}
		span {
			font-weight: 300;
			color: rgba(227, 228, 230, 0.55);
		}
	}
	&__title:not(:last-child) {
		margin-bottom: 95px;
		@media (max-width: 576px) {
			margin-bottom: 45px;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
		@media (max-width: 904px) {
			justify-content: space-evenly;
		}
	}
}