.header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	padding: 34px 0px;
	background-color: #010208;
	&__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.logo {
		max-width: 95px;
	}
	.menu {
		&__list {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			transition: transform 0.4s;
			&.active {
				transform: translateY(0);
			}
			li + li {
				margin-left: 32px;
				@media (max-width: 576px) {
					margin-left: 0;
					margin-top: 40px;
				}
			}
			@media (max-width: 576px) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: #202020;
				flex-direction: column;
				justify-content: center;
				transform: translateY(-100%);
			}
		}
		&__link {
			position: relative;
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			color: #E3E4E6;
			@media (max-width: 576px) {
				font-size: 24px;
			}
			&:hover {
				background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -11px;
				width: 9px;
				height: 3px;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				background-color: #fff;
				border-radius: 9px;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: opacity 0.3s, visability 0.3s;
				transition: opacity 0.3s, visability 0.3s;
			}
			&:hover::after {
				opacity: 1;
				visibility: visible;
			}
		}
		&__icon {
			display: none;
			position: relative;
			z-index: 2;
			width: 30px;
			height: 18px;
			cursor: pointer;
			&.active {
				span {
					transform: scale(0);
					&:first-child {
						top: calc(50% - 1px);
						transform: rotate(-45deg);
					}
					&:last-child {
						bottom: calc(50% - 1px);
						transform: rotate(45deg);
					}
				}
			}
			span {
				position: absolute;
				left: 0;
				top: calc(50% - 1px);
				width: 100%;
				height: 2px;
				background-color: #E3E4E6;
				transition: all 0.2s;
				&:first-child {
					top: 0;
				}
				&:last-child {
					top: auto;
					bottom: 0;
				}
			}
			@media (max-width: 576px) {
				display: block;
			}
		}
	}
}